.byline{
  font-family: 'Roboto', Arial, sans-serif;
  font-size: .9em;
  font-weight: 400;
  letter-spacing: .1em;
  text-transform: uppercase;
  text-align: left;
  padding-bottom: 1em;
}
.caption{
  width: 75%;
  display: block;
  margin: 0 auto;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-size: .8em;
  font-weight: 300;
  color: #808080;
  padding-bottom: 1em;
  padding-left: 1em;
}

.caption-left{
  width: 100%;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  text-align: left;
  font-size: .8em;
  font-weight: 300;
  color: #808080;
  padding-left: 1em;
}

/*pull quote */
.quote{
  font-family: 'Roboto Condensed', Arial, sans-serif;
