.headline{
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-stretch: condensed;
  font-size: 3em;
  font-weight: 700;
  text-align: left;
}
.chapter-headline{
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  padding-top: 1em;
}
.sidebar{
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
  border: .5em solid #5AA632;
}
.sidebar-headline{
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-size: 1.3em;
  font-weight: 500;
  color:#fff;
  text-align: center;
  background-color: #5AA632;
  padding-top: .2em;
  padding-bottom: .5em;
  margin-top: -.8em;
  margin-left: -.8em;
  margin-right: -.8em;
}
.sidebar-description{
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 1em;
  font-weight: 400;
  color:#000;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
}
.ul-sidebar{
  font-size: .9em;
}
.li-sidebar{
  margin-top: .5em;
}
.byline{
  font-family: 'Roboto', Arial, sans-serif;
  font-size: .9em;
  font-weight: 400;
  letter-spacing: .1em;
  text-transform: uppercase;
  text-align: left;
  padding-bottom: 1em;
}
.caption{
  width: 75%;
  display: block;
  margin: 0 auto;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-size: .8em;
  font-weight: 300;
  color: #808080;
  padding-bottom: 1em;
  padding-left: 1em;
}

.caption-left{
  width: 100%;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  text-align: left;
  font-size: .8em;
  font-weight: 300;
  color: #808080;
  padding-left: 1em;
}

/*pull quote */
.quote{
  font-family: 'Roboto Condensed', Arial, sans-serif;
  color:#f23030;
  font-size: 2.5em;
  font-weight: 700;
  text-align: left;
  width:75%;
  display: block;
  margin: 0 auto;
  padding: .5em 0 .5em 0;
  border-top: 1px solid #f23030;
  border-bottom: 1px solid #f23030;
  margin-top: .3em;
  margin-bottom: 1em;
}
.quote-attribution{
  font-size: .4em;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-weight: 100;
  text-align: left;
  margin-left:3em;
  color: #000;
}
p{
  font-family: 'Merriweather', Georgia, serif;
  font-weight: 400;
  font-size: 1.1em;
  letter-spacing: .05em;
  line-height: 180%;
}
.red{
  color:#f23030;
}
/* container for image1 */
.image1-container{
  width:100%;
  position: relative;
  text-align: left;
  padding-top: 1em;
}
/*Actual image1 styling */
.image1{
  width: 75%;
  display: block;
  margin: 0 auto;
  padding-top: 1em;
}
/* container for hero image */
.hero-container{
  position: relative;
  text-align: center;
  color:#fff;
  padding-bottom: 2em;
}
/* hero image class */
.hero-image{
  width: 100%;
}
/*centering harriots image*/
.harriett_img {
  display:block;
  margin-left:auto;
  margin-right:auto;
  width:50%;
  
}
/* overlay class*/
.overlay{
  position:absolute; /* specifies exact position*/
  width:50%;
  top:20%; /* 20% down from top of div*/
  left:25%;
  background-color: #000;
  opacity: .7;
}
/* header for hero image*/
.hero-hed{
  font-family: 'Merriweather', Georgia, serif;
  font-size: 6em;
  color:#f23030;
  margin: 0 auto;
  padding-bottom: 10px;
}
/*sub header for hero image*/
.hero-sub{
  font-family:''Roboto Condensed'', Arial, sans-serif;
  font-stretch: condensed;
  font-size:.25em;
  color: #fff;
}
.navbar{
  font-family: 'Roboto Condensed', Arial, sans-serif;
}
/* Nav at top */
.nav-top{
  color:white;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 600;
}
.footer-copyright{
  background-color: black;
  margin-top: .5em;
  margin-bottom: .5em;
}
.footer-text{
  font-family:''Roboto Condensed'', Arial, sans-serif;
  color: white;
}
.text-centered{
  text-align: center;
}
/*hyperlinks */
/* unvisited link */
a:link {
  color: #F23030;
}
/* visited link */
a:visited {
  color: #731717;
}
/* mouse over link */
a:hover {
  color: #FF3333;
}
/* Media queries */
  /* headers*/
@media (max-width:1000px){
  .hero-hed {
    font-size:5em;
  }
}
@media (max-width:768px){
  .hero-hed {
    font-size:4em;
  }
}
@media (max-width:600px){
    .hero-hed {
      font-size:3em;
    }
}
  /* caption*/
@media (max-width:768px){
    .caption {
      width:100%;
    }
}
  /* Overlay
  @media (min-width:1080px){
      .overlay {
        width:30%;
        top:20%;
        left:35%;
      }
  }
*/
/* pull quote
@media (max-width:768px){
  .quote {
    width:100%;
  }
}
*/
  /* images */
@media (max-width:768px){
    .image1 {
      width:100%;
    }
}
